*.dat
eshell/*
elpa/*
backups/*
snippets/*
auto-save-list/*
*python-environments/*
%backup%~
.semanticdb/*
abbrev_defs
recentf
request/*
url/*
tramp
notes/*.html
games/*
.youdao
.#recentf
*.dat
network-security.data
*org-id-locations*
third-parts/*
semanticdb/*
ede-projects.el
lisp/init-proxy.el
irony/*
